body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding: 0;	
	color:#2A4F5E;
}
ul li{
	list-style-type: none;
	text-decoration:none;
}

a{
	text-decoration:none;
}


table{
	width:auto;
	
	border-collapse:collapse;
}

table tr td,table tr th{
	vertical-align:top;
	
}

form input{
	width:250px;
	display:block;
	
}

form textarea{
	width:450px;
	height:120px;
	display:block;
}

form select{
	width:250px;
}
form table tr{
		height:60px;
		vertical-align:middle;
}
form table tr td{
	vertical-align:middle;
}
form table tr:nth-child(odd) {background-color:#FAFAFA;}


/*Put reuseable css styles after this line*/
.button {
	padding: 4px;
	background-color:#338BE1;
	border-radius:3px;
	border: none;
	cursor:pointer;
	color: white;
	font-weight:bold;
}

.button:HOVER{
	background-color:#5EB6EF;
	
}
.content-header{
	border-radius:5px 5px 0px 0px;
	background-color:#F8F8F8;
	padding:10px;
	color: #2a4f5e;	
	font-size: 20px;
	margin:none;
	text-shadow: 1px 1px 1px #fff;
	border:1px solid #ECECEC;
}

.content-box{
	width:960px;
	margin: auto;
	margin-bottom:10px;
}

.content-content{
	padding:10px;
	border:1px solid #ECECEC;
	border-top:none;
	color: #2a4f5e;
	line-height: 22px;
}


.article-box{
	width:auto;
	
}
.article-header{
	color: #2a4f5e;	
	line-height: 30px;
	margin: 18px 0 0 0;
	padding: 0;
	text-shadow: 1px 1px 1px #fff;
}
.article-body{
	color: #2a4f5e;
	line-height: 22px;
	margin: 0;
	padding: 0;	
}



/*Common reuseable font styles*/
.header-font,.header-font1,.header-font2,.header-font3,.header-font4{
	color: #2a4f5e;	
	font-weight:bold;
	line-height: 30px;
	margin: 18px 0 0 0;
	padding: 0;
	text-shadow: 1px 1px 1px #fff;
}
.header-font1{font-size:15px;}
.header-font2{font-size:20px;}
.header-font3{font-size:30px;}
.header-font4{font-size:35px;}

.content-font,.content-font1,.content-font2,.content-font3{
	color: #2a4f5e;
	line-height: 22px;
	margin: 0;
	padding: 0;	
}
.content-font1{font-size:14px;}
.content-font2{font-size:20px;}
.content-font3{font-size:30px;}
.content-font4{font-size:35px;}

label.error{
	color:red;
	font-size:15px;
	font-weight:lighter;
}

input.error{
border:1px solid red;		
}

.clear{
	height:10px;
}
.clear1{
	height:5px;
}
.clear2{
	height:15px;
}
.clear3{
	height:20px;
}
.clear4{
	height:25px;
}
.action-icon{
	width:30px;height:30px;
}

.success-message{
	font-size: small;
	font-weight:bold;
	color:#60BBFF;
	display: block;
	border:1px solid #00AFF0;
	padding:6px;
}

.error-message{
	font-size: small;
	font-weight:bold;
	color:red;
	display: block;
	border:1px solid #FCE758;
	padding:6px;	
}

.body-fit{
	width:960px;margin:auto;
}
table.top-flow tr td,table.top-flow tr th{
	vertical-align:top;
}
.person-link{
	color:#0182C5;
	font-weight:lighter;
	font-size:small;
}

/*Styles related to issues*/
.issue-board-item{
	border:2px solid gray;
	border-radius:5px; 
	color:green;
	padding:10px;
	display: inline;
}

.single-comment{
	background-color: #F5F5F5;
	width:75%;
	padding:10px;
}

.issues-list tr{
	border-bottom:1px solid #F5F5F5; border-top:1px solid #F5F5F5;"
}

table.issues-list tr td{
	padding-right:12px;
	font-size:small;
}

table.issues-list tr td a{
	color:#2A5FA1;
	font-weight:normal;
}
table.issues-list tr td a:HOVER{
	color:#2E86DF;
	font-weight:lighter;
}

.issue-action-bar{
	padding:10px;
	border:1px solid #F8F8F8;
	border-radius:5px;
}

	.detail-table tr td:nth-child(odd){
 	font-weight:bold;
 	padding-right:30px;
 	width:20%;
 }
 .detail-table tr td:nth-child(even){
 	font-weight:lighter;
 	color:#007ACC;
 	font-size:15px;
 	width:80%;
 }
.activity-item span{
	font-weight:lighter;
	color:#666666;
	font-size:small;
}
.activity-item label{
	font-weight:bold;font-size:small;
}
#remove-activity{
	font-size:10px;
	font-weight:bold;
	color:#E4E4E4;
}
#remove-activity:HOVER{
	color:gray;
}

/*User login and logout*/
#user-account-top{
		position:absolute !important;
		width:250px;
		left:66.5%;
		text-align:right;
		
	}
	.logout{
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		color:#818A8C;
	}
	
	.logout:HOVER{
		text-decoration: underline;
	}
	#user-account-top p{
		color:#007ACC;
		font-size:10px;
	}
	#profile-link{
		color:blue;
	}
	#login-logout{
		float:right!important;
	}
	
	
/*User list*/
table#user-list tr td,table#user-list tr th{
	text-align:left;
	padding-right:10px;
}
table#user-list{
	width:70%;
}

table#user-list tr{
	border-bottom:2px solid #BBBBBB;
}


/*Sub menu styles*/
#submenu-container{
	width:960px;margin:auto;
	margin-top:0px;margin-bottom:10px;
	font-size:20px;
}

/*Issue*/