<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    	<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    	<property name="cache.use_query_cache">false</property>
    	<property name="cache.use_minimal_puts">false</property>
    	<property name="max_fetch_depth">3</property>
		<property name=""></property>
    	<!-- Print SQL to stdout. -->
    	<property name="show_sql">false</property>
    	<property name="format_sql">true</property>
	
    	<!-- Drop and then re-create schema on SessionFactory build, for testing. -->
    	<property name="hbm2ddl.auto">create</property>
	
    	<!-- Bind the getCurrentSession() method to the thread. -->
    	<property name="current_session_context_class">thread</property>
    	
    	<mapping class="com.sharedissues.entities.Person"/>
		<mapping class="com.sharedissues.entities.Image"/>
		<mapping class="com.sharedissues.entities.Issue"/>
		<mapping class="com.sharedissues.entities.Comment"/>
		<mapping class="com.sharedissues.entities.Activity"/>
		<mapping class="com.sharedissues.entities.Visit"/>
	</session-factory>
</hibernate-configuration>